<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tang.mapper.DetailMapper">

    <!--
    多对一，多个博客对应一个user
    方式一，子查询，按照查询嵌套处理
    <select id="getAllDetail" resultMap="DetailUser">
        select * from blogdetail
    </select>

    <resultMap id="DetailUser" type="Detail">
        <association property="user" column="user" javaType="Detail" select="getUserById"/>
    </resultMap>
    <select id="getUserById" resultType="User">
        select * from myblog.user where id = #{id}
    </select>-->
    <!--方式二，常用-->
    <select id="getAllDetail" resultMap="DetailUser">
        select * from blogdetail b,user u,sort where b.user=u.uid and b.labelid=sort.sid
    </select>

    <resultMap id="DetailUser" type="Detail">
        <result property="bid" column="bid"/>
        <result property="title" column="title"/>
        <result property="label" column="label"/>
        <result property="content" column="content"/>
        <result property="comment" column="comment"/>
        <result property="heat" column="heat"/>
        <result property="username" column="name"/>
        <result property="uid" column="uid"/>
        <result property="sid" column="sid"/>
        <!--<association property="user" javaType="User">
            <result property="name" column="name"/>
            <result property="id" column="id"/>
        </association>-->
    </resultMap>

    <insert id="insertBlog" parameterType="Detail">
        insert into blogdetail(title, user, labelid, content, time,readType) VALUES (#{title},#{user},#{label},#{content},#{time},#{readType})
    </insert>

    <select id="getAllLabel" resultType="Sort">
        select * from sort
    </select>

</mapper>