<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tang.mapper.UserMapper">

    <select id="getAllUser" resultType="User">
        select * from user
    </select>

    <select id="getUserByPhone" resultType="User">
        select * from user where phone = #{phone}
    </select>

    <insert id="insertUser" parameterType="String">
        insert into user (phone,password) value (#{phone},#{password})
    </insert>

    <!--一个作者有多个文章-->
    <select id="getUserById" resultMap="UserBlog">
        select * from user,blogdetail b where user.id=b.user and user.id=#{id}
    </select>
    <resultMap id="UserBlog" type="User">
        <result property="id" column="id"/>
        <collection property="detailList" ofType="Detail">
            <result property="title" column="title"/>
        </collection>
    </resultMap>

    <select id="getPageUser" resultType="User">
        select * from user
    </select>

</mapper>