<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tang.mapper.FileMapper">
    <insert id="insertUrl" parameterType="Img" useGeneratedKeys="true" keyProperty="id">
        insert into img (img) value (#{url})
    </insert>
</mapper>